# Ignorer les fichiers de configuration de l'environnement
.env

# Ignorer les fichiers contenant des clés sensibles
config/serviceAccountKey.json

# Ignorer les dossiers de dépendances
/node_modules
/build
/dist

# Ignorer les fichiers temporaires
*.log
*.tmp

# Ignorer les fichiers de système
.DS_Store
Thumbs.db
